/* src/App.css */

html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes the full viewport height */
}

.main-content {
  flex-grow: 1; /* Allows the main content to expand and push the footer down */
  display: flex;
  flex-direction: column;
}